# https://devhints.io/editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true

[{package,package-lock,tsconfig}.json]
indent_size = 3

[*.{ts,js}]
indent_size = 4
max_line_length = 90
